[Unit]
Description = node_exporter Service

[Service]
User=bin

ExecStart=/opt/node_exporter-{{ version }}.linux-amd64/node_exporter

SyslogIdentifier=node_exporter

[Install]
WantedBy=multi-user.target